<section id="blog" class="blog">
  <div class="container">
    <div class="section-header">
      <h2>Mural informativo</h2>
      <p>
        Estimado apoderado recuerda mantente al tanto de las
        <span>Últimas informaciones</span>
      </p>
    </div>

    <div class="blog-content">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let c of circulares">
          <div class="single-blog-item">
            <div class="single-blog-item-img">
              <img src="images/blog/b1.jpg" alt="blog image" />
            </div>
            <div class="single-blog-item-txt">
              <h2>
                <a href="#">{{ c.titulo }}</a>
              </h2>
              <h4>
                Publicado por: <a>{{ c.autor }}</a>
              </h4>

              <p>
                {{ expandido[c.id] ? c.cuerpo : limitarTexto(c.cuerpo, 20) }}
              </p>

              <a (click)="toggleExpand(c.id)" style="cursor: pointer; font-weight: bold;">
                {{ expandido[c.id] ? 'Leer menos ▲' : 'Leer más ▼' }}
              </a>

              <h5 class="mt-2">{{ c.created_at | date: 'longDate' }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
