<!-- footer.component.html -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="hm-footer-copyright">
      <div class="row">
        <div class="col-sm-5">
          <p><a (click)="openLoginModal()"><strong>Iniciar sesión</strong></a></p>
        </div>
        <div class="col-sm-7">
          <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="scroll-Top">
    <div class="return-to-top">
      <i class="fa fa-angle-up" id="scroll-top" data-toggle="tooltip" data-placement="top" title="Back to Top" aria-hidden="true"></i>
    </div>
  </div>
</footer>
