<section id="blog" class="blog">
    <div class="container">
        <div class="section-header">
            <h2>Nosotros</h2>
            <p>Conoce al Centro General de Padres de la Escuela Santa Olga de Kiev</p>
        </div><!--/.section-header-->

        <div class="works-content">
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-lightbulb-idea"></i>
                        </div>
                        <h2><a href="#">Nuestra <span>Misión</span></a></h2>
                        <p>
                            Representar y apoyar a las familias de nuestra comunidad educativa, fomentando la participación activa y el bienestar de nuestros estudiantes.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <i class="flaticon-networking"></i>
                        </div>
                        <h2><a href="#">Nuestra <span>Visión</span></a></h2>
                        <p>
                            Ser un pilar de unión entre apoderados, docentes y estudiantes, construyendo juntos una escuela inclusiva, solidaria y comprometida con la formación integral.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-how-works">
                        <div class="single-how-works-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#5c5c5c" viewBox="0 0 24 24">
                                <path d="M16 11c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-8 0c1.657 0 3-1.343 3-3s-1.343-3-3-3S5 6.343 5 8s1.343 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5C14 14.17 10.33 13 8 13zm8 0c-.29 0-.62.02-.98.05.93.84 1.5 1.84 1.5 2.95V19h6v-2.5c0-2.33-4.67-3.5-6.52-3.5z"/>
                            </svg>

                        </div>
                        <h2><a href="#">Nuestros <span>Valores</span></a></h2>
                        <p>
                            Colaboración, respeto, empatía y responsabilidad guían cada una de nuestras acciones en favor de la comunidad escolar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-12 col-sm-6">
                    <div class="single-how-works text-center">
                        <div class="single-how-works-icon">
                            <i class="flaticon-location-on-road"></i>
                        </div>
                        <h2><a href="#">Nuestro <span>Compromiso</span></a></h2>
                        <p>
                            Trabajamos con dedicación por una mejor convivencia escolar y por el fortalecimiento del vínculo familia-escuela.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</section>
